@{
    ViewData["Title"] = "Edit";
}

<style>
    table,
    thead,
    tr,
    tbody,
    th,
    td {
      text-align: center;
    }

    .textRight {
        text-align: right;
    }

    [v-cloak] {
        display: none;
    }
</style>

<h1>編輯訂單</h1>

<div id="app"
     v-cloak>
    <form autocomplete="off"
          v-on:submit.prevent="Submit()">
        <h4>訂單</h4>
        <hr />
        <div class="form-group form-inline">
            <label for="Name"
                   class="control-label">
                名稱
            </label>
            <input id="Name"
                   v-model="vm.Name"
                   class="form-control mx-3" />
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-auto mr-auto">
                <h4>明細</h4>
            </div>
            <div class="col-auto"></div>
        </div>
        <div class="table-responsive">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col"
                        class="text-nowrap align-middle">
                        項目
                    </th>
                    <th scope="col"
                        class="text-nowrap align-middle">
                        單價
                    </th>
                    <th scope="col"
                        class="text-nowrap align-middle">
                        數量
                    </th>
                    <th scope="col"
                        class="text-nowrap align-middle"
                        style="width: 100px;">
                        金額
                    </th>
                    <th scope="col"
                        style="width: 70px;">
                        <button type="button"
                                class="btn btn-primary text-nowrap"
                                v-on:click="AddDetail()">
                            新增明細
                        </button>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(detail, detailIndex) in vm.Details"
                    :key="detailIndex">
                    <td>
                        <div class="row">
                            <input type="text"
                                   class="form-control mx-3"
                                   v-model="detail.Item" />
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <input type="number"
                                   v-bind:step="floatPrecision"
                                   class="form-control mx-3"
                                   v-model="detail.UnitPrice" />
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <input type="number"
                                   step="1"
                                   class="form-control mx-3"
                                   v-model.number="detail.Count" />
                        </div>
                    </td>
                    <td>{{ detail.Amount }}</td>
                    <td>
                        <button type="button"
                                class="btn btn-danger text-nowrap"
                                v-on:click="DeleteDetail(detailIndex)">
                            刪除
                        </button>
                    </td>
                </tr>
                <tr>
                    <td colspan="3"
                        class="textRight"
                        style="border: none;">
                        小計
                    </td>
                    <td>{{vm.SubTotal}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="3"
                        class="textRight"
                        style="border: none;">
                        營業稅
                    </td>
                    <td>{{vm.BusinessTax}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="3"
                        class="textRight"
                        style="border: none;">
                        總計
                    </td>
                    <td>{{vm.Total}}</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row my-1">
            <div class="col-auto mr-auto"></div>
            <div class="col-auto">
                <button type="button"
                        class="btn btn-primary mx-1"
                        v-on:click="ReCalculate()">
                    重新計算
                </button>
                @* <button type="submit" *@
                @*         class="btn btn-primary mx-1"> *@
                @*     送出 *@
                @* </button> *@
            </div>
        </div>
        <div class="row my-1">
            <div class="col-auto mr-auto">
                <a v-bind:href="backUrl">回上一頁</a>
            </div>
        </div>
    </form>
</div>

<script src="/lib/jquery/dist/jquery.js"
        asp-append-version="true"></script>
<script src="/lib/vue/3.0.11/vue.global.prod.js"></script>

<script>
  const { createApp, ref, reactive, onMounted, computed } = Vue;

  const app = createApp({
    setup(){

      const reCalculateUrl = '@Url.Action("ReCalculate")';

      const submitUrl = '@Url.Action("PostEdit")';

      const backUrl = '@Url.Action("Index")';

      const vm = reactive(@Html.Raw(ViewBag.OrderJson));

      const emptyOrderDetail = @Html.Raw(ViewBag.EmptyOrderDetailJson);

      const floatPrecision = 0.0001;

      const AddDetail = function ()
      {
          vm.Details.push(JSON.parse(JSON.stringify(emptyOrderDetail)));
      }

      const DeleteDetail = function (detailIndex)
      {
          console.log(detailIndex);
          vm.Details.splice(detailIndex, 1);
      }

      const ReCalculate = function ()
      {
          $.ajax(
                {
                    url: reCalculateUrl,
                    type: 'post',
                    data: JSON.stringify(vm),
                    dataType: 'json',
                    contentType: 'application/json',
                }).done(function(e)
                {
                   // vm = reactive(e);

                   vm.SubTotal    = e.SubTotal;
                   vm.BusinessTax = e.BusinessTax;
                   vm.Details     = e.Details;
                   vm.Total       = e.Total;
                })
      }

      const Submit = function ()
      {
          $.ajax(
                {
                    url: submitUrl,
                    type: 'post',
                    data: JSON.stringify(vm),
                    dataType: 'json',
                    contentType: 'application/json',
                }).done(function(e)
                {
                   window.location.href = backUrl;
                })
      }

      return {
        submitUrl,
        backUrl,
        vm,
        floatPrecision,
        AddDetail,
        DeleteDetail,
        ReCalculate,
        Submit,
      }
    }
  });

  const vm = app.mount('#app');
</script>
