@{
    ViewData["Title"] = "Edit";
}

<style>
    table,
    thead,
    tr,
    tbody,
    th,
    td {
      text-align: center;
    }

    .textRight {
        text-align: right;
    }

    [v-cloak] {
        display: none;
    }
</style>

<h1>編輯訂單</h1>

<div id="app"
     v-cloak>
    <form autocomplete="off"
          v-on:submit.prevent="Submit()">
        <h4>訂單</h4>
        <hr />
        <div class="row my-1">
            <dt class = "col-sm-2 text-left mx-3 text-sm-right ">
                <label for="Name"
                       class="control-label text-nowrap">
                    名稱
                </label>
            </dt>
            <dt class = "col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3">
                <input id="Name"
                       v-model="vm.Data.Name"
                       class="form-control mx-3" />
            </dt>
        </div>
        <div class="row my-1">
            <dt class = "col-sm-2 text-left mx-3 text-sm-right ">
                  <label for="FloatPrecision"
                           class="control-label text-nowrap">
                        浮點數位數
                    </label>
            </dt>
            <dt class = "col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3">
                  <input id="FloatPrecision"
                         type="number"
                         v-bind:step="minFloatPrecistion"
                         min="0"
                         max="0.1"
                         v-model="vm.Data.FloatPrecision"
                         class="form-control mx-3" />
            </dt>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-auto mr-auto">
                <h4>明細</h4>
            </div>
            <div class="col-auto"></div>
        </div>
        <div class="table-responsive">
            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col"
                        class="text-nowrap align-middle">
                        項目
                    </th>
                    <th scope="col"
                        class="text-nowrap align-middle">
                        單價
                    </th>
                    <th scope="col"
                        class="text-nowrap align-middle">
                        數量
                    </th>
                    <th scope="col"
                        class="text-nowrap align-middle"
                        style="width: 100px;">
                        金額
                    </th>
                    <th scope="col"
                        style="width: 70px;">
                        <button type="button"
                                class="btn btn-primary text-nowrap"
                                disabled
                                v-on:click="AddDetail()">
                            新增明細
                        </button>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(detail, detailIndex) in vm.Data.Details"
                    :key="detailIndex">
                    <td>
                        <div class="row">
                            <input type="text"
                                   class="form-control mx-3"
                                   v-model="detail.Item" />
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <input type="number"
                                   v-bind:step="vm.FloatPrecision"
                                   class="form-control mx-3"
                                   v-model="detail.UnitPrice" />
                        </div>
                    </td>
                    <td>
                        <div class="row">
                            <input type="number"
                                   step="1"
                                   class="form-control mx-3"
                                   v-model.number="detail.Count" />
                        </div>
                    </td>
                    <td>{{ detail.Amount }}</td>
                    <td>
                        <button type="button"
                                disabled
                                class="btn btn-danger text-nowrap"
                                v-on:click="DeleteDetail(detailIndex)">
                            刪除
                        </button>
                    </td>
                </tr>
                <tr>
                    <td colspan="3"
                        class="textRight"
                        style="border: none;">
                        小計
                    </td>
                    <td>{{vm.Data.SubTotal}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="3"
                        class="textRight"
                        style="border: none;">
                        營業稅
                    </td>
                    <td>{{vm.Data.BusinessTax}}</td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="3"
                        class="textRight"
                        style="border: none;">
                        總計
                    </td>
                    <td>{{vm.Data.Total}}</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row my-1">
            <div class="col-auto mr-auto"></div>
            <div class="col-auto">
                <button type="button"
                        class="btn btn-primary mx-1"
                        disabled
                        v-on:click="ReCalculate()">
                    重新計算
                </button>
                <button type="submit"
                        disabled
                        class="btn btn-primary mx-1">
                    送出
                </button>
            </div>
        </div>
        <div class="row my-1">
            <div class="col-auto mr-auto">
                <a v-bind:href="backUrl">回上一頁</a>
            </div>
        </div>
    </form>
</div>

<script src="/lib/jquery/dist/jquery.js"
        asp-append-version="true"></script>
<script src="/lib/vue/3.0.11/vue.global.prod.js"></script>

<script>
  const { createApp, ref, reactive, onMounted, computed } = Vue;

  const app = createApp({
    setup(){

      const reCalculateUrl = '@Url.Action("ReCalculate")';

      const submitUrl = '@Url.Action("PostEdit")';

      const backUrl = '@Url.Action("Index")';

      const vm = reactive(@Html.Raw(ViewBag.OrderJson));

      const emptyOrderDetail = @Html.Raw(ViewBag.EmptyOrderDetailJson);

      const minFloatPrecistion = "0.0000000001";

      const AddDetail = function ()
      {
          vm.Data.Details.push(JSON.parse(JSON.stringify(emptyOrderDetail)));
      }

      const DeleteDetail = function (detailIndex)
      {
          vm.Data.Details.splice(detailIndex, 1);
      }

      const ReCalculate = function ()
      {
          $.ajax(
                {
                    url: reCalculateUrl,
                    type: 'post',
                    data: JSON.stringify(vm),
                    dataType: 'json',
                    contentType: 'application/json',
                }).done(function(e)
                {
                   vm.Data = e.Data;
                   vm.FloatPrecision = e.FloatPrecision;
                })
      }

      const Submit = function ()
      {
          $.ajax(
                {
                    url: submitUrl,
                    type: 'post',
                    data: JSON.stringify(vm.Data),
                    dataType: 'json',
                    contentType: 'application/json',
                }).done(function(e)
                {
                   window.location.href = backUrl;
                })
      }

      return {
        submitUrl,
        backUrl,
        vm,
        minFloatPrecistion,
        AddDetail,
        DeleteDetail,
        ReCalculate,
        Submit,
      }
    }
  });

  const vm = app.mount('#app');
</script>
